In [6]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

In [7]:
dataset=[['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
         ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
         ['Milk',],
         ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
         ['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs']
         ]

In [8]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [9]:
freq_itemsets=pd.DataFrame(dataset)
freq_itemsets

      0        1       2             3          4       5
0  Milk    Onion  Nutmeg  Kidney Beans       Eggs  Yogurt
1  Dill    Onion  Nutmeg  Kidney Beans       Eggs  Yogurt
2  Milk     None    None          None       None    None
3  Milk  Unicorn    Corn  Kidney Beans     Yogurt    None
4  Corn    Onion   Onion  Kidney Beans  Ice cream    Eggs

In [10]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)

In [11]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,True,False,True,True,True,True,False,True
1,False,True,True,False,True,False,True,True,False,True
2,False,False,False,False,False,True,False,False,False,False
3,True,False,False,False,True,True,False,False,True,True
4,True,False,True,True,True,False,False,True,False,False

In [12]:
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

   support                     itemsets
0      0.6                       (Eggs)
1      0.8               (Kidney Beans)
2      0.6                       (Milk)
3      0.6                      (Onion)
4      0.6                     (Yogurt)
5      0.6         (Kidney Beans, Eggs)
6      0.6                (Onion, Eggs)
7      0.6        (Onion, Kidney Beans)
8      0.6       (Kidney Beans, Yogurt)
9      0.6  (Onion, Kidney Beans, Eggs)

In [13]:
#build association rule using support metric
rules=association_rules(frequent_itemsets,metric='support',support_only=True,min_threshold=0.1)
#use only support metric for Eclat algorithm

In [14]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),NaN,NaN,0.6,NaN,NaN,NaN,NaN
1,(Eggs),(Kidney Beans),NaN,NaN,0.6,NaN,NaN,NaN,NaN
2,(Onion),(Eggs),NaN,NaN,0.6,NaN,NaN,NaN,NaN
3,(Eggs),(Onion),NaN,NaN,0.6,NaN,NaN,NaN,NaN
4,(Onion),(Kidney Beans),NaN,NaN,0.6,NaN,NaN,NaN,NaN
5,(Kidney Beans),(Onion),NaN,NaN,0.6,NaN,NaN,NaN,NaN
6,(Kidney Beans),(Yogurt),NaN,NaN,0.6,NaN,NaN,NaN,NaN
7,(Yogurt),(Kidney Beans),NaN,NaN,0.6,NaN,NaN,NaN,NaN
8,"(Onion, Kidney Beans)",(Eggs),NaN,NaN,0.6,NaN,NaN,NaN,NaN
9,"(Onion, Eggs)",(Kidney Beans),NaN,NaN,0.6,NaN,NaN,NaN,NaN
10,"(Kidney Beans, Eggs)",(Onion),NaN,NaN,0.6,NaN,NaN,NaN,NaN
11,(Onion),"(Kidney Beans, Eggs)",NaN,NaN,0.6,NaN,NaN,NaN,NaN
12,(Kidney Beans),"(Onion, Eggs)",NaN,NaN,0.6,NaN,NaN,NaN,NaN
13,(Eggs),"(Onion, Kidney Beans)",NaN,NaN,0.6,NaN,NaN,NaN,NaN

In [17]:
rules=rules[['antecedents','consequents','support']]
rules

              antecedents            consequents  support
0          (Kidney Beans)                 (Eggs)      0.6
1                  (Eggs)         (Kidney Beans)      0.6
2                 (Onion)                 (Eggs)      0.6
3                  (Eggs)                (Onion)      0.6
4                 (Onion)         (Kidney Beans)      0.6
5          (Kidney Beans)                (Onion)      0.6
6          (Kidney Beans)               (Yogurt)      0.6
7                (Yogurt)         (Kidney Beans)      0.6
8   (Onion, Kidney Beans)                 (Eggs)      0.6
9           (Onion, Eggs)         (Kidney Beans)      0.6
10   (Kidney Beans, Eggs)                (Onion)      0.6
11                (Onion)   (Kidney Beans, Eggs)      0.6
12         (Kidney Beans)          (Onion, Eggs)      0.6
13                 (Eggs)  (Onion, Kidney Beans)      0.6

# How to run FP-Growth algorithm

In [23]:
!pip install pyfpgrowth

Collecting pyfpgrowth
  Downloading https://files.pythonhosted.org/packages/d2/4c/8b7cd90b4118ff0286d6584909b99e1ca5642bdc9072fa5a8dd361c864a0/pyfpgrowth-1.0.tar.gz (1.6MB)
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py): started
  Building wheel for pyfpgrowth (setup.py): finished with status 'done'
  Stored in directory: C:\Users\vishal\AppData\Local\pip\Cache\wheels\3b\3f\0d\a04bb8b17887c1eca7d0f1a48d4aa0c09c96eb221ff7fa56c1
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0

In [27]:
import pyfpgrowth
#creating sample transaction

In [24]:
transactions=[['Milk','Bread','Saffron'],
         ['Milk','Saffron'],
         ['Bread','Saffron','Wafer'],
         ['Bread','Saffron','Wafer'],
         
         ]

In [25]:
transactions

[['Milk', 'Bread', 'Saffron'],
 ['Milk', 'Saffron'],
 ['Bread', 'Saffron', 'Wafer'],
 ['Bread', 'Saffron', 'Wafer']]

In [28]:
#finding the frequent pattern with min_support=0.5
FrequentPatterns=pyfpgrowth.find_frequent_patterns(transactions=transactions,support_threshold=0.5)
FrequentPatterns

{('Milk',): 2,
 ('Bread', 'Milk'): 1,
 ('Milk', 'Saffron'): 2,
 ('Bread', 'Milk', 'Saffron'): 1,
 ('Wafer',): 2,
 ('Bread', 'Wafer'): 2,
 ('Saffron', 'Wafer'): 2,
 ('Bread', 'Saffron', 'Wafer'): 2,
 ('Bread',): 3,
 ('Bread', 'Saffron'): 3,
 ('Saffron',): 4}

In [29]:
#Generating rules with min confidence threshold=0.5
Rules=pyfpgrowth.generate_association_rules(patterns=FrequentPatterns,confidence_threshold=0.5)
Rules

{('Milk',): (('Bread', 'Saffron'), 0.5),
 ('Saffron',): (('Bread',), 0.75),
 ('Bread', 'Milk'): (('Saffron',), 1.0),
 ('Milk', 'Saffron'): (('Bread',), 0.5),
 ('Bread',): (('Saffron',), 1.0),
 ('Wafer',): (('Bread', 'Saffron'), 1.0),
 ('Bread', 'Saffron'): (('Wafer',), 0.6666666666666666),
 ('Bread', 'Wafer'): (('Saffron',), 1.0),
 ('Saffron', 'Wafer'): (('Bread',), 1.0)}